/* Make all LI's blue */

/* Make everything with the class of 'done' grey*/

/* Make the element with the id of 'clear' have a red BG and white text */
/* in this example class is "grey" and id is "clear" */

li { 
    color: blue;
}
#clear{ 
    background-color: red;
    color: white;
}
.done{
    color:grey;
}
    