h1 { 
    text-align: center;
   background-color: rgba(255, 0, 13, 0.288);
    font-weight: normal;
}


h2 { 

color: rgb(0, 255, 55);

}

p {
    color: white;
    text-align: right;
    font-weight: 700; 

}
p { background-color: black
;
}

